*.html
*.pdf
*.redxml
*.swp
*.txt
*.upload
*~
.includes.mk
.refcache
.tags
.targets.mk
/*-[0-9][0-9].xml
/.*.mk
/.gems/
/.idea/
/.refcache
/.targets.mk
/.venv/
/.vscode/
/lib
/node_modules/
/versioned/
Gemfile.lock
archive.json
draft-ietf-netconf-transaction-id.xml
draft-lindblad-netconf-transaction-id.xml
gh-token/lib
lib
package-lock.json
report.xml
venv/
!requirements.txt
